<div class="position-relative container">
  <div class="row justify-content-center">
    <div class="card mt-sm-3 col-md-8">
      <div class="card-body">
        <h3 class="mb-0">Artist Directory</h3>
        <div class="form-group">
          <div class="form-label" 
            *ngIf="query"
          >
            <strong>For:</strong> {{query}}
          </div>
            <input type="text" class="form-control mt-2" >
        </div>
      </div>
    </div>
  </div><!-- row -->

  <div class="artist-list container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-9 col-md-7 col-lg-5">
        <ul class=" list-group d-flex">
          <li class="list-group-item">
  
              <div class="media d-flex align-items-center" 
              *ngFor = "let artist of artists" 
              (click) = "showArtist(artist)">
                <img class="rounded-circle mr-3"
                  src="assets/images/artist-thumb.jpg"
                  alt="Photo of ">
                <div class="media-body">
                  <h5 class="my-0 text-dark">{{artist.name}}</h5>
                  <div class="text-secondary font-italic">{{artist.reknown}}</div>
                </div><!-- media-body -->
              </div><!-- media -->
  
          </li>
        </ul>
      </div><!-- col-12 -->
    </div><!-- row -->
  </div><!-- col-container -->

</div><!-- position -->